div#header
	ul#submenu
		li
			- if(session.user && session.user != '')
				a(href='/logout') ログアウト@logined !{session.user}
			- else
				a(href='/login') ログイン
div#main
	div#chatcontainer
		div#inputbox
			textarea
			p#send 送信( Ctrl + Enterでも送信できます ）
		div#chatarea
	div#chatterlist
div#footer